
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c3f7c5;
    background-image: url('');
  }

  
 
  :target:before {
    content: "";
    display: block;
    height: 80px; /* fixed header height*/
    margin: -80px 0 0; /* negative fixed header height */
  }  
  

  main {
    padding: 50px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h1, h2 {
    color: #333;
  }
  
  footer {

    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #01064e;
    color: #fff;
    z-index: 1;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
  }


  .logo {
    float: left;
    width: 50px;
    height: 50px;
  }
  
  .topnav {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #01064e;
    overflow: hidden;
    
  }
  
  .nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .nav-links a {
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
  }
  
  .nav-links a.active {
    font-weight: bold;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #e1d74f;
    color: white;
  } 

  form {
    width: 300px;
    margin: 20px auto;
  }
  
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input, textarea {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    background-color: #01064e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #001a8e;
  }
 

/* Image slide */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
}

/* Hide the images by default */
.mySlides {
  display: none;
}



/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}



/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

button {
  background-color: #01064e;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #022c7a;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

 
  /* Styles for screens smaller than 600px */
@media (max-width: 600px) {
    /* CSS rules specific to smaller screens */
  }
  
  /* Styles for screens between 601px and 1024px */
  @media (min-width: 601px) and (max-width: 1024px) {
    /* CSS rules specific to medium-sized screens */
  }
  
  /* Styles for screens larger than 1024px */
  @media (min-width: 1025px) {
    /* CSS rules specific to larger screens */
  }
  